body {
  margin: 0;
  padding: 0;
  background-color: #a5b381;
}

main {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.active {
  padding: 10px;
  border-radius: 10px;
}

.inactive {
  display: none;
}

.embla {
  position: relative;
  width: 80%;
  height: auto;
  margin: 10%;
}

.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.carousel-images {
  object-fit: cover;
  border-radius: 1rem;
}

.carousel-button-left,
.carousel-button-right {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  z-index: 10;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  color: black;
  border: none;
}

.carousel-button-left {
  left: 1rem;
}
.carousel-button-right {
  right: 1rem;
}

.chevron-buttons {
  height: 2rem;
  width: 2rem;
}

.entire-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20%;
}
