* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #a5b381;
}

main {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.active {
  padding: 10px;
  border-radius: 10px;
}

.inactive {
  display: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #575e43;
}

.info {
  display: flex;
  flex-direction: column;
}

.address {
  margin-top: 2rem;
  margin-bottom: 0.25rem;
}
.phone,
.email {
  margin: 0.25rem;
  text-decoration: none;
  color: black;
}

.opening_hours {
  margin-bottom: 2rem;
}

.opening_text,
.opening_weekdays,
.opening_weekends {
  margin: 0.5rem;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--disabled {
  display: none;
}
