.dish_container,
.dish_error_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 0 0.25rem;
}
.image_box {
  width: 95%;
  height: 300px;
  border-radius: 1rem;
  position: relative;
  margin: 0 0 0.125rem;
}

.dish_image {
  object-fit: cover;
  border-radius: 1rem;
}

.dish_description_box {
  width: 95%;
  height: 35vh;
  background-color: white;
  border-radius: 1rem;
  margin: 0.25rem 0.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dish_description_scroll {
  overflow: scroll;
  overflow-x: hidden;
  height: 90%;
}

.dish_price {
  font-weight: 700;
  margin: 0.25rem 0.5rem 0.5rem;
}

.dish_description_text,
.current_order_dish {
  color: #a86e5f;
  font-weight: 500;
  margin: 0.25rem 0.5rem 0.25rem;
  text-align: center;
}

.current_order_text {
  margin: 1rem 0.5rem 0.25rem;
  color: #a86e5f;
}

.current_order_dish {
  font-weight: 800;
}

.generate_button {
  border: none;
  background-color: #a86e5f;
  border-radius: 0.5rem;
  color: white;
  padding: 2rem 3rem;
  margin: 0.125rem 0 0.125rem;
}

.generate_button:hover {
  background-color: #575e43;
}

.current_order_box,
.dish_error_box {
  width: 95%;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.125rem 0 0.125rem;
}

.dish_error {
  color: red;
  text-align: center;
  padding: 1rem;
}

.generated_dish {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.current_order_and_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (min-width: 640px) {
  .dish_container {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }

  .image_box {
    width: 100%;
  }

  .dish_image {
    width: 100%;
  }

  .generated_dish {
    width: 70%;
    margin: 0 1rem 1rem;
  }

  .dish_description_box {
    margin: 1rem 0;
    width: 100%;
  }

  .generate_button {
    align-self: flex-start;
  }

  .current_order_and_button {
    width: 30%;
    margin: 0 1rem 1rem 0;
  }

  .current_order_box {
    margin-bottom: 1rem;
    width: 100%;
  }
}
